    header{
        background-color:#E6A2C5;
        padding: 20px;
    } 
    h1 {
        color: 	#784283;
        text-align: center;
    }
    
    h2{
        background-color:#E6A2C5;
        color:#784283;
        padding: 5px;
    }
    h3{
        color:#784283;
        background-color:#E6A2C5;
        padding: 2px;
    }

    section{
        margin: 10px;
        background-color:#ffd8ec;
        
    }

    p{
        margin: 10px;
        font-size:17px;
    }

    footer{
        background-color:#7496D2;
    }

    .card-head{
        background-color:#E6A2C5;

    }

    .card-body{
        background-color:#ffd8ec;
    }

    .card-footer{
        background-color:#E6A2C5;
    }

    .button {
        color:#784283;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      th, td {
        padding: 5px;
        text-align: left;    
      }
    
    